@import 'variables';

h1 {
    color: $current-color;
}

.search-input {
    text-transform: capitalize;
}

.card-course-item {
    margin-top: 24px;
}
.card-text,
.card-title {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.card-title {
    color: #333;
}
