h1 {
  color: blue; }

.search-input {
  text-transform: capitalize; }

.card-course-item {
  margin-top: 24px; }

.card-text,
.card-title {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: #333;
  overflow: hidden; }

.card-body a {
  text-decoration: none; }

.navbar-dark .navbar-nav .nav-c {
  color: #000; }

.card-title {
  color: red; }

.use-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px; }

.dropdown-menu {
  padding: 0;
  border: 0;
  overflow: hidden;
  box-shadow: 0 1px 3.125rem black; }

.dropdown-divider {
  margin: 0; }

.btn-link {
  text-decoration: none; }
